*{
  background-color: #111 !important;

}
.App{
  display: flex;
  align-items: center;
  background-size: cover;
  color: #111;
  justify-content: center !important;

}

.ItemList {
  margin-top: 210px;
  font-size: 24px;
  color: #fff;
}
.h2{
  color:#fff;
  width: 1000px;
}
